@import "tailwindcss";


.my-dog-swiper .swiper-pagination-bullet-active {
    background: #fb923c !important;
}
.my-dog-swiper .swiper-slide {
    transition: transform 0.3s;
}
.my-dog-swiper .swiper-slide-active {
    transform: scale(1); 
}